@font-face {
    font-family: 'Fredoka';
    src: url(./Fonts/Fredoka-VariableFont_wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: 'Poppins';
    src: url(./Fonts/Poppins-SemiBold.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}

main {
    background-color: #D5E1EF;
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 3rem 0;
}

div.qrcode {
    padding: 16px;
    background-color: white;
    width: 300px;
    border: 0 solid transparent;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 20%;
}

img {
    aspect-ratio: 1/1;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-bottom: 0.8em;
}

h1 {
    font-family: "Fredoka";
    font-size: 22px;
    margin: 0.5em;
    color: hsl(0, 0%, 10%);
}

p {
    font-family: "Poppins";
    font-size: 16px;
    color: hsl(0, 0%, 20%);
}